body {
    background-color: dodgerblue;
    color: aliceblue;
}

* {
    margin-top: 3%;
    text-align: center;
}

a {
    color: #0ef258b3;
    text-decoration: none;
    transition: .5s ease;
}

a:hover {
    color: white;
    transition: .5s ease;
}

main {
    top: 20%;
}

footer {
    padding-top: 50px;
}