body {
    background-color: dodgerblue;
    color: aliceblue;
}

* {
    margin-top: 40px;
    text-align: center;
}

main{
    top: 20%;
}

footer{
    position: absolute;
    bottom: 20%;
    width: 99%;
}