body {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    /* text-shadow: rgb(129, 128, 128) 0.1em 0.1em 0.2em; */
    font-family: monospace, Arial, Helvetica, sans-serif;
}

.center {
    margin-top: 3%;
    text-align: center;
}

a {
    color: rgb(46, 85, 255);
    text-decoration: none;
    transition: .5s ease;
}

a:hover {
    color: rgb(13, 30, 65);
    transition: .5s ease;
}

main {
    padding-top: 1%;
}

footer {
    padding-top: 50px;
    padding-bottom: 3%;
}

.example {
    text-align: left;
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 35%;
}

input {
    border-left: #fff 1px solid;
    border-top: #fff 1px solid;
    border-right: #fff 1px solid;
    border-bottom: #fff 1px solid;
    margin: 0px 0px 15px 10px;
    padding-left: 10px;
    font-size: 1em;
    line-height: 1.5em;
    height: 25px;
    border: 1px;
    border-radius: 4px;
} 

button {
    height: 25px;
    border: 1px;
    border-radius: 4px;
    color: black;
    background: yellowgreen;
} 